
p {
  font-size: 1.5em;
  line-height: 1.5em;
  font-family: 'Raleway', sans-serif;
}

.mdl-card__supporting-text {
  padding: 35px;
}

.mdl-layout-title, .mdl-navigation__link, h1, h3 {
  font-family: 'Share Tech Mono', monospace;
  text-decoration: none;
}


.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    height: 100px;
    
}



/* overflow: scroll; this will provide a fixed size div box with a scroll bar-- good for long code maybe
