.mdl-layout-title, .mdl-navigation__link, h1 {
  font-family: 'Share Tech Mono';
  text-decoration: none;
}

.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}

.demo-card-wide.mdl-card {
    width: 100%;
}
.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

/* overflow: scroll; this will provide a fixed size div box with a scroll bar-- good for long code maybe